<div id="quiz-wrapper" >
  <div class="quiz-container">

    <div class="text-width-quiz">
      <p>Add cards to your album by correctly answering the question:</p>
      <h2 id="h2Question"><%= @quiz.question %></h2>
    </div>

    <div id="quiz-result-message">
    </div>

    <% @quiz.quiz_answers.each do |answer| %>
      <div class="quiz-buttons-container"
          data-controller="quiz"
          data-quiz-target="button"
          data-quiz-correct-value="<%= answer.correct ? 'correct' : 'wrong'%>">
        <input type="button" value="<%= answer.text %>" class="quiz-answer-button" data-action="click->quiz#checkResult">
      </div>
    <% end %>

    <!--
    <div class="quiz-link-to">
      <%= link_to 'Try Another', "/albums/#{@album_id}/quizzes/#{rand(@quiz_first..@quiz_last)}" , id: "quiz-try-another", target: "_top" %>
    </div>

    <div class="quiz-link-to">
      <%= link_to 'Open Pack', "/albums/#{@album_id}/packs/#{@album_id}", id: "quiz-open-pack", target: "_top" %>
    </div>
    -->

    <div class="quiz-link-to" id="quizNextAction">
      <%= link_to 'Try Another', "/albums/#{@album_id}/quizzes/#{rand(@quiz_first..@quiz_last)}" , id: "quiz-try-another", target: "_top" %>
      <%= link_to 'Open Pack', "/albums/#{@album_id}/packs/#{@album_id}", id: "quiz-open-pack", target: "_top" %>
    </div>

  </div>
</div>
