<%# styling is in app/assets/stylesheets/pages/_viewing_album.scss %>

<div id="viewing-album-background">

  <div class="viewing-album-top-bar">


    <div class="teams-album-dropdown">
      <h3 style="background-color: <%= @color %>;">Teams
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
          <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </h3>

      <div class="teams-album-dropdown-content">
        <% @batches.each_with_index do |team_array,index| %>
          <%= link_to album_path(@album, index: index) do %>
            <p><%= team_array.first.team %></p>
          <% end %>
        <% end %>
        <%# raise %>
      </div>
    </div>


    <!-- Original season show
    <div class="text-end viewing-album-season">
      <h3><%= @prev_season %>/<%= @season_short %> Season</h3>
    </div>
    -->



    <div class="text-end viewing-album-sea">
      <%= link_to root_path do %>
        <h3><%= @prev_season %>/<%= @season_short %> Season</h3>
      <% end %>
      <div class="viewing-album-sea-drop">
        <p>hello</p>
        <% xyz = Album.all %>
        <%= xyz.first.season %>
        <%= xyz.last.season %>
        <% xyz.each do |abc| %>
          <p><%= abc.season %></p>
          <p><%= abc.id %></p>
          <%= link_to album_path(abc.id) do %>
            <p><%= abc.id %></p>
          <% end %>
        <% end %>

        <%# trying to sort the seaon list %>
        <% arr = [] %>
        <% xyz.each_with_index do |season, ind| %>
          <% arr << season.season  %>
        <% end %>
        <p><%= arr.sort %></p>
      </div>
    </div>

    <%# raise %>


  </div>


  <div class="text-center viewing-album-team">
    <h2><%= @team %></h2>
  </div>

  <div class="album-cards-container">
    <div class="album-cards">
      <%  @cards.each do |player| %>
        <div class="card">
          <% if player.album_cards.first.counter == 0 %>

            <%# below is commented out for the NBA placeholder - image is in _viewing_album %>
            <div class="card-image-hidden" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url('<%= player.image %>'); border: 2px solid <%= @color %>;">
            </div>

            <!-- Below is the greyed-out NBA logo if card not owned -->
              <!-- <div class="card-image-hidden" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('https://cdn.nba.com/headshots/nba/latest/1040x760/logoman.png'); border: 2px solid <%= @color %>;"> -->

          <!-- Below is the NBA logo full color5 if card not owned
            <div class="card-image-hidden" style="border: 2px solid <%= @color %>;">
            </div>
          -->
          <% else %>

            <!-- There's players like Devin Cannady (and others) in 2021 who doesn't have an image - his url is invalid, how to redirect that to a placeholder of a shadow outline? -->
            <div class="card-image-shown" style="background-image: url('<%= player.image %>'); border: 2px solid <%= @color %>;">

              <div class="card-stats-details-container">
                <div class="card-stats-details">
                  <%# &nbsp is a space %>
                  <span>Points Per Game: &nbsp&nbsp&nbsp<%= player.points %></span>
                </div>
                <div class="card-stats-details">
                  <span>Rebounds Per Game: &nbsp&nbsp&nbsp<%= player.rebounds %></span>
                </div>
                <div class="card-stats-details">
                  <span>Assists Per Game: &nbsp&nbsp&nbsp<%= player.assists %></span>
                </div>
                <div class="card-stats-details">
                  <span>Height: &nbsp&nbsp&nbsp<%= player.height %>m</span>
                </div>
                <div class="card-stats-details">
                  <span>Weight: &nbsp&nbsp&nbsp<%= player.weight %>Kg</span>
                </div>
              </div>

            </div>

          <% end %>

          <div class="card-basic-info">
            <div>
              <h2><%= player.name %></h2>
              <p style="color: <%= @color %>;" ><%= player.position %></p>
            </div>

            <% if player.album_cards.first.counter > 1 %>
              <h3 class="card-count" style="background-color: <%= @color %>;"><%= player.album_cards.first.counter %></h3>
            <% end %>

          </div>


        </div>
      <% end %>
    </div>
  </div>

  <div class="text-center viewing-album-to-quiz-button">
    <%= link_to "Add Stickers", "/albums/#{@album.id}/quizzes/#{rand(@quiz_first..@quiz_last)}", style: "background-color: #{@color} " %>
  </div>

  <div>
    <% if @prev_index.present? %>

      <%= link_to album_path(@album, index: @prev_index.to_s) do %>
        <div class= "arrow-left", style="border-right: 32px solid <%= @color %>;">
        </div>
      <% end %>

    <% end %>

    <% if @next_index.present? %>

      <%= link_to album_path(@album, index: @next_index.to_s) do %>
        <div class= "arrow-right", style="border-left: 32px solid <%= @color %>;">
        </div>
      <% end %>

    <% end %>
  </div>

</div>
